[Unit]
Description=Consumer
After=network.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/home/cts/DRaaS
ExecStart=/home/cts/DRaaS/venv/bin/python /home/cts/DRaaS/consumer.py
StandardOutput=append:/var/log/consumer.log
StandardError=append:/var/log/consumer_error.log
SyslogIdentifier=consumer

[Install]
WantedBy=multi-user.target