[Unit]
Description=Producer
After=network.target

[Service]
Type=simple
Restart=always
User=devops
WorkingDirectory=/home/devops/DRaaS
ExecStart=/home/devops/DRaaS/venv/bin/python /home/devops/DRaaS/producer.py
StandardOutput=append:/var/log/producer.log
StandardError=append:/var/log/producer_error.log
SyslogIdentifier=producer

[Install]
WantedBy=multi-user.target